<!doctype html>
<html lang="en">
<head>
    {% block title %}
        <title>Homepage</title>
    {% endblock %}
</head>

<body>
{% block body %}
    {% block content %}<h1>Welcome to homepage</h1>{% endblock %}
    {% block list %}
    <ul>
        <li><a href="{{ url('app_blog') }}">Homepage</a> </li>
        <li><a href="{{ url('app_blog_article') }}">Article</a></li>
        <li><a href="{{ url('app_blog_news') }}">News</a></li>
        <li><a href="{{ url('app_blog_random') }}">Random</a></li>
    </ul>
    {% endblock %}
{% endblock %}
</body>
</html>